<div class="container-fluid">

    <div class="container mt-5" *ngIf="!isLoggedIn">

        <div class="title text-center">
            <h2>Bienvenue sur OnlyRoom, la page de reservation de salles de réunions</h2>
        </div>

        <div class="text-center">
            <img clas="image-responsive text-center" src="../assets/logo.png">
            <a routerLink="/login">
                <h4>Connectez vous !</h4>
            </a>
        </div>

    </div>

    <div class="card  m-5" *ngIf="isLoggedIn">
        <div class="card-header"> Mes réunions </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Salle</th>
                        <th scope="col">Date</th>
                        <th scope="col">Heure de début</th>
                        <th scope="col">Heure de fin </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let guest of guests">
                        <td>
                            <a routerLink="/dashboard-reservation/{{guest.reservation.id}}">
                                {{guest.reservation.id}}
                            </a>
                        </td>
                        <td>
                            <a routerLink="/dashboard-room/{{guest.room.id}}">
                                {{guest.room.name}}
                            </a>
                        </td>
                        <td>{{guest.reservation.date | slice:0:10}}</td>
                        <td>{{guest.reservation.beginHour | numToTime}}</td>
                        <td>{{guest.reservation.endHour | numToTime}}</td>
                    </tr>
                </tbody>
                <td colspan="5" *ngIf="guests.length == 0"> Pas de réunions </td>
            </table>
        </div>
    </div>

    <div class="card m-5">
        <div class="card-header"> Salles libres </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead">
                    <tr>
                        <th scope="col">Nom de la salle</th>
                        <th scope="col">Capacité</th>
                        <th scope="col">Equipements</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let room of rooms">
                        <td>
                            <a routerLink="/dashboard-room/{{room.id}}">
                                {{room.name}}
                            </a>
                        </td>
                        <td>{{room.capacity}}</td>
                        <td>
                            <span *ngFor="let facility of room.facilities">- {{facility.name}} <br></span>
                        </td>
                    </tr>
                </tbody>
                <td colspan="3" *ngIf="rooms.length == 0"> Pas de salles libres </td>
            </table>
            <button class="btn float-right" [routerLink]="['/list-rooms']">Voir toutes les salles</button>
        </div>
    </div>

    <div class=" card  m-5" *ngIf="isLoggedIn">
        <div class="card-header"> Mes réservations </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom de la salle</th>
                        <th scope="col">Date</th>
                        <th scope="col">Heure de début</th>
                        <th scope="col">Heure de fin </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resa of reservations">
                        <td>
                            <a routerLink="/dashboard-reservation/{{resa.reservation.id}}">
                                {{resa.reservation.id}}
                            </a>
                        </td>
                        <td>
                            <a routerLink="/dashboard-room/{{resa.room.id}}">
                                {{resa.room.name}}
                            </a>
                        </td>
                        <td>{{resa.reservation.date | slice:0:10}}</td>
                        <td>{{resa.reservation.beginHour | numToTime}}</td>
                        <td>{{resa.reservation.endHour | numToTime}}</td>
                        <td class="text-center">
                            <a (click)="deleteResa(resa.reservation.id)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <td colspan="5" *ngIf="reservations.length == 0"> Pas de réservation </td>
            </table>
        </div>
    </div>


</div>
