<div class="container">
    <div class="card m-5">
        <div class="card-header"> Rechercher un salle </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <div class="form-group">
                            <label for="Capacity">
                                Capacité
                            </label>
                            <input type="text" id="firstName" class="form-control" name="firstName" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="Date">
                                Date
                            </label>
                            <input type="text" id="lastName" class="form-control" name="lastName" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="Hour">
                                Heure de début de réunion
                            </label>
                            <input type="text" id="lastName" class="form-control" name="lastName" ngModel>
                        </div>
                        <button class="btn btn-primary" type="submit">Rechercher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>