<div class="container-fluid">
    <div class="card m-5">
        <div class="card-header"> Caractéristiques de la salle </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead">
                    <th scope="col"> Nom de la salle</th>
                    <th scope="col"> Capacité</th>
                    <th scope="col"> Installations</th>
                </thead>
                <tbody>
                    <td>{{room.name}}</td>
                    <td>{{room.capacity}} personne(s)</td>
                    <td><span *ngFor="let facility of room.facilities">- {{facility.name}} <br></span></td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card m-5">
        <div class="card-header"> Réservations </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead">
                    <th scope="col"> #</th>
                    <th scope="col"> Date</th>
                    <th scope="col"> Heure de début</th>
                    <th scope="col"> Heure de fin</th>
                </thead>
                <tbody>
                    <tr *ngFor="let resa of reservations">
                        <td>
                            <a routerLink="/dashboard-reservation/{{resa.reservation.id}}">
                                {{resa.reservation.id}}
                            </a>
                        </td>
                        <td>{{resa.reservation.date | slice:0:10}}</td>
                        <td>{{resa.reservation.beginHour | numToTime}}</td>
                        <td>{{resa.reservation.endHour | numToTime}}</td>
                    </tr>
                </tbody>
                <td colspan="4" *ngIf="reservations.length == 0"> Le tableau est vide </td>
            </table>
        </div>
    </div>
    <div class="card m-5">
        <div class="card-header"> Réserver la salle </div>
        <div class="card-body">
            <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" name="form">
                <div class="form-group">
                    <label for="date">
                        Date
                    </label>
                    <input type="date" class="form-control" name="date" [(ngModel)]="form.date" required
                        #date="ngModel" />
                    <div class="alert alert-danger" *ngIf="f.submitted && date.invalid">
                        <div *ngIf="date.errors.required">Veuillez indiquer une date</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="beginHour">
                        Heure de début
                    </label>
                    <input type="time" class="form-control" name="beginHour" [(ngModel)]="form.beginHour" required
                        #beginHour="ngModel" />
                    <div class="alert alert-danger" *ngIf="f.submitted && beginHour.invalid">
                        <div *ngIf="beginHour.errors.required">Veuillez indiquer une heure de début</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="endHour">
                        Heure de fin
                    </label>
                    <input type="time" class="form-control" name="endHour" [(ngModel)]="form.endHour" required
                        #endHour="ngModel" />
                    <div class="alert alert-danger" *ngIf="f.submitted && endHour.invalid">
                        <div *ngIf="endHour.errors.required">Veuillez indiquer une heure de fin</div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary float-right mb-5" type="submit"> Réserver </button>
                </div>
                <div class="success alert alert-success" *ngIf="f.submitted && isSuccesful">
                    {{ errorMessage }}
                </div>
                <div class="success alert alert-danger"
                    *ngIf="f.submitted && !isSuccesful && !endHour.invalid && !beginHour.invalid && !date.invalid">
                    {{ errorMessage }}
                </div>
            </form>
        </div>
    </div>
</div>
