<div class="container">
    <div class="card m-5">
        <div class="card-header"> Créer un compte </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-sm-offset-2">
                    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
                        novalidate>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                                minlength="3" maxlength="20" #username="ngModel" />
                            <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                                <div class="alert" *ngIf="username.errors.required">Champ obligatoire </div>
                                <div class="alert" *ngIf="username.errors.minlength">
                                    Doit contenir au moins 3 caratères
                                </div>
                                <div class="alert" *ngIf="username.errors.maxlength">
                                    Ne doit pas dépasser 20 caratères
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthDate">Date de naissance</label>
                            <input type="date" class="form-control" name="birthDate" [(ngModel)]="form.birthDate"
                                required #birthDate="ngModel" />
                            <div class="alert-danger" *ngIf="f.submitted && birthDate.invalid">
                                <div class="alert" *ngIf="birthDate.errors.required">Champ obligatoire </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required
                                email #email="ngModel" />
                            <div class="alert" *ngIf="f.submitted && email.invalid">
                                <div class="alert" *ngIf="email.errors.required">Champ obligatoire</div>
                                <div class="alert" *ngIf="email.errors.email">
                                    Le mail doit être valide
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="form.password"
                                required minlength="6" #password="ngModel" />
                            <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                                <div class="alert" *ngIf="password.errors.required">Champ obligatoire </div>
                                <div class="alert" *ngIf="password.errors.minlength">
                                    Le mot de passe doit contenir 6 caractères
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn">Sign Up</button>
                        </div>

                        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                            Echec!<br />{{ errorMessage }}
                        </div>
                    </form>

                    <div class="alert alert-success" *ngIf="isSuccessful">
                        Creation du compte avec succes!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>